*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Poppins;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.categorias{
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 100px
}

.divSimple {
    background-color: lightgray;
    height: 250px;
    width: 30%;
    text-align: center;
}

.miniDiv{
    margin-top:10px;
}

.divSimple2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 500px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    
}

.classAll{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-top:6px;
    background-color: rgb(175, 171, 171);
}

.AllP1{
    width:20%;
}

.AllP2{
    width:40%
}

.AllP3{
    width: 20%;
}

.AllP4{
    width: 40%;
}

.AllP3 p{
    font-size: 25px;
}

.AllP4 p{
    font-size: 25px;
}

.classAll2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: rgb(145, 144, 144);
}

.container1{
    margin-top: 100px;
    height: 550px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
}
